<section class="section-intro">
  <div class="section-intro-mobile-bg">
    <%- partial('partial/navbar') %>
    <div class="jumbotron jumbotron-fluid jumbotron-blueberry">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="display-4"><%- theme.slogan ? theme.slogan : "" %></h1>
            <p class="lead"><%- theme.lead ? theme.lead : "" %></p>
          </div>
        </div>
      </div>
      <img class="w-100 d-lg-none" src="<%- partial('data-uri/wave-header') %>" />
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 col-xl-9">
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="icon-l mt-sm-1 mb-2 mb-lg-3"><%- partial('icons/icon-roll.svg') %></div>
            <p>Made from the award-winning ORACAL® 651 and Cricut® adhesive outdoor vinyl.</p>
            <p class="mb-4 mb-lg-0"><strong>Stickers’ durability period tops at 6 years.</strong></p>
          </div>
          <div class="col-12 col-sm-6">
            <div class="icon-l mt-sm-1 mb-2 mb-lg-3"><%- partial('icons/icon-ship.svg') %></div>
            <p><strong>Free shipping across US</strong> with one day handling time and three to five days delivery time.</p>
            <p class="mb-4 mb-lg-0">International shipping prices start at $0.65</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-2 pt-mb-4 pt-lg-5 pb-3">
  <!-- Featured stickers -->
  <%- partial('partial/heading', {title: 'Featured stickers', subtitle: 'Stickers come in a variety of colors. New designs are often in progress! Check our Stories on <a rel="me" target="_blank" href="https://www.instagram.com/bimmersticker.store/">Instagram</a> and subscribe for updates.', name: 'featured'}) %>
  <%- partial('partial/category-posts-list', {categoryName: 'Featured'}) %>

</section>
<section>
  <!-- Model stickers -->
</section>
<section>
  <!-- Series and generations -->
</section>
<section class="spacer-footer">
  <!-- Contact -->
</section>
