<%- partial('partial/head') %>
<body data-spy="scroll" data-target="#navbar-spy" data-offset="0">
  <%- // partial('partial/facebook-sdk') %>
  <%- body %>
  <%- partial('partial/footer') %>
  <%- js('js/app.js') %>
  <%- partial('partial/analytics') %>
  <script src="https://cdn.snipcart.com/themes/v3.0.2/default/snipcart.js"></script>
  <div id="snipcart" data-api-key="ZDY1MDg3ODQtM2MxNC00OGEzLWFiMzktNzE1NjY2NjY0OTczNjM3MDkwMTkxMjkwNDc3NjYw" hidden></div>
</body>
</html>
