<%- partial('partial/head') %>
<body data-spy="scroll" data-target="#navbar-spy" data-offset="0">
  <%- body %>
  <%- partial('partial/footer') %>
  <%- js('js/app.js') %>
  <%- partial('partial/analytics') %>
</body>
</html>
