<%- partial('partial/head') %>
<body data-spy="scroll" data-target="#navbar-spy" data-offset="0" class="<%- is_post()? 'is-post':'' %>">
  <% if(config.facebook_chat){ %>
    <!-- Facebook SDK -->
    <!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat Plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat" page_id="376346382812240" attribution="biz_inbox">
    </div>

    <!-- <script> -->
      // var chatbox = document.getElementById('fb-customer-chat');
      // chatbox.setAttribute("page_id", "376346382812240");
      // chatbox.setAttribute("attribution", "biz_inbox");
    <!-- </script> -->

    <!-- Your SDK code -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v13.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
<% } %>

  <%- body %>
  <%- partial('partial/footer') %>
  <!-- scripts -->
  <%- partial('partial/facebook-sdk') %>
  <%- partial('partial/snipcart') %>
  <%- partial('partial/scripts') %>
</body>
</html>
