<%- partial('partial/head') %>
<body data-spy="scroll" data-target="#navbar-spy" data-offset="0">
  <%- body %>
  <%- partial('partial/footer') %>
  <!-- scripts -->
  <%- partial('partial/facebook-sdk') %>
  <%- partial('partial/snipcart') %>
  <%- partial('partial/scripts') %>
</body>
</html>
