<div class="orientation-container">
  <%- partial('partial/post-aside') %>
  <section id="post-content">
    <div class="container">
      <div class="row">
        <div class="col" id="content">
          <%- page.more %>
          <%- partial('partial/post-customize') %>
          <%- partial('partial/post-similar') %>
          <%- partial('partial/post-comments') %>
        </div>
      </div>
    </div>
  </section>
</div>
