<footer>
  <img width="2560" height="246" class="w-100 h-auto" alt="footer section shape" src="<%- partial('../data-uri/wave-footer') %>" />
  <div class="section-blue pt-3 pb-3">
    <div class="container">
      <div class="row">
        <nav class="col text-center mb-3 line-height-25">
          <a class="text-white mx-3" href="/">All Stickers</a>
          <a class="text-white mx-3" href="/custom-windshield-banner-sun-strip/">Custom Sun Strips and Banners</a>
          <a class="text-white mx-3" href="/custom-social-media-stickers/">Custom Social Media Stickers</a>          
          <a class="text-white mx-3" href="/terms-and-conditions">Terms and Conditions</a>
          <a class="text-white mx-3" href="/privacy-policy">Privacy Policy</a>
          <a class="text-white mx-3" href="/return-and-refund-policy">Return and Refund Policy</a>
          <a class="text-white mx-3" href="/#contact">Contact us</a>
          <a class="text-white mx-3" href="<%- theme.googlereview_url %>">Review us on Google</a>
        </nav>
        <nav class="col-12 text-center">
          <!-- <a href="/about">About</a>
          <a href="/how-to-apply">How to apply</a>
          <a href="#">Image attributions</a> -->
          <% if (theme.instagram_url){ %>
            <a class="icon-lg mx-2" href="<%- theme.instagram_url %>" rel="me">
              <%- partial('ionicons/logo-instagram.svg') %> Instagram
            </a>
          <% } %>
          <% if (theme.facebook_url){ %>
            <a class="icon-lg mx-2" href="<%- theme.twitter_url %>" rel="me">
              <%- partial('ionicons/logo-twitter.svg') %> Twitter
            </a>
          <% } %>
          <% if (theme.facebook_url){ %>
            <a class="icon-lg mx-2" href="<%- theme.facebook_url %>" rel="me">
              <%- partial('ionicons/logo-facebook.svg') %> Facebook
            </a>
          <% } %>
        </nav>
        <div class="col-12">
          <p class="text-white-50 text-center mt-3 mb-2 font-size-12">Copyright © <%- new Date().getFullYear() %>, Sticker Store LLC. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
