<footer>
  <!-- <img width="2560" height="246" class="w-100 h-auto" alt="footer section shape" src="<%- partial('../images/wave-footer') %>" />-->
  <%- partial('images/wave-footer.svg') %>
  <div class="section-blue pt-3 pb-3">
    <div class="container">
      <div class="row">
        <nav class="col text-center mb-3 line-height-25">
          <a class="mx-3" href="/">All Stickers</a>
          <a class="mx-3" href="/custom-windshield-banner-sun-strip/">Custom Sun Strips and Banners</a>
          <a class="mx-3" href="/custom-social-media-stickers/">Custom Social Media Stickers</a>          
          <a class="mx-3" href="/terms-and-conditions">Terms and Conditions</a>
          <a class="mx-3" href="/privacy-policy">Privacy Policy</a>
          <a class="mx-3" href="/return-and-refund-policy">Return and Refund Policy</a>
          <a class="mx-3" href="/#contact">Contact us</a>
          <a class="mx-3" href="<%- theme.googlereview_url %>">Review us on Google</a>
        </nav>
        <nav class="col-12 text-center">
          <!-- <a href="/about">About</a>
          <a href="/how-to-apply">How to apply</a>
          <a href="#">Image attributions</a> -->
          <% if (theme.instagram_url){ %>
            <a class="mx-2" href="<%- theme.instagram_url %>" rel="me">
              <span class="icon-sm mr-1"><%- partial('ionicons/logo-instagram.svg') %></span> Instagram
            </a>
          <% } %>
          <% if (theme.facebook_url){ %>
            <a class="mx-2" href="<%- theme.twitter_url %>" rel="me">
              <span class="icon-sm mr-1"><%- partial('ionicons/logo-twitter.svg') %></span> Twitter
            </a>
          <% } %>
          <% if (theme.facebook_url){ %>
            <a class="mx-2" href="<%- theme.facebook_url %>" rel="me">
              <span class="icon-sm mr-1"><%- partial('ionicons/logo-facebook.svg') %></span> Facebook
            </a>
          <% } %>
        </nav>
        <div class="col-12">
          <p class="text-center white-text mt-5">Our shopping cart utilizes <a href="https://www.paypal.com/al/webapps/mpp/express-checkout" rel="nofollow" title="PayPal Express Checkout">PayPal Express checkout</a> option. Following payment methods are supported:</p>
          <p class="text-center">
            <span class="icon-xl payment-icon mx-3"><img width="100" height="100" loading="lazy" src="/img/payment-options/glyph-ae.svg" alt="American Express" /></span>
            <span class="icon-xl payment-icon mx-3"><img width="100" height="100" loading="lazy" src="/img/payment-options/glyph-maestro.svg" alt="Maestro" /></span>
            <span class="icon-xl payment-icon mx-3"><img width="100" height="100" loading="lazy" src="/img/payment-options/glyph-mastercard.svg" alt="MasterCard" /></span>
            <span class="icon-xl payment-icon mx-3"><img width="100" height="100" loading="lazy" src="/img/payment-options/glyph-paypal.svg" alt="PayPal" /></span>
            <span class="icon-xl payment-icon mx-3"><img width="100" height="100" loading="lazy" src="/img/payment-options/glyph-visa.svg" alt="Visa" /></span>
          </p>
        </div>        
        <div class="col-12 transform-scale-85">
          <p class="text-white text-center mt-3 font-size-14">Sticker Store LLC is not affiliated with the Bayerische Motoren Werke AG (BMW) and BMW owns all the affiliated trademarks presented on this website.</p>
          <p class="text-white text-center mb-2 font-size-14">Copyright © <%- new Date().getFullYear() %>, Sticker Store LLC. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- TODO: uncomment, only for testing cart locally -->
<%- // partial('partial/test-snipcart-2') %>