<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37279720-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-37279720-5');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= page.title ? page.title : config.title %></title>
    <meta name="description" content="<%= page.description ? page.description : config.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <% if (theme.apple_touch_icon){ %>
      <link rel="apple-touch-icon" href="<%- theme.apple_touch_icon %>">
    <% } %>
    <% if (theme.favicon){ %>
      <link rel="icon" href="<%- theme.favicon %>">
    <% } %>
    <%- css('css/blueberry.css') %>
</head>
