<div id="post-aside">
  <div class="js--init-sticky-container" data-viewport-threshold="992">
    <%- partial('partial/item-navbar') %>
    <div class="container">
      <div class="row">
        <section class="col" itemscope itemtype="http://schema.org/Product">
            <!-- Featured image -->
            <% var image = first_image(page); %>
            <% if (image){ %>
              <img itemprop="image" class="featured-image" src="<%- image.src ? image.src : '' %>" title="<%- image.title ? image.title : '' %>" alt="<%- image.alt ? image.alt : '' %>">
            <% } %>
            <h1 class="mb-1 font-size-28" itemprop="name"><%- post.title %></h1>
            <% if (post.excerpt){ %>
              <p class="text-muted" itemprop="description"><%- strip_html(post.excerpt) %></p>
            <% } %>
            <div class="mt-3 js--init-content-buy-button" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <% if (post.ebay_url && post.etsy_url){ %>
                <a onclick="ga('send', 'event', 'buy', 'click', '<%- post.title %>'); gtag_report_conversion();" href="<%- post.ebay_url %>" target="_blank" class="btn btn-blueberry btn-primary" role="button"><span itemprop="priceCurrency" content="USD">$</span><span itemprop="price" content="<%- post.price %>"><%- post.price %></span> on eBay</a>
                <a onclick="ga('send', 'event', 'buy', 'click', '<%- post.title %>'); gtag_report_conversion();" href="<%- post.etsy_url %>" target="_blank" class="btn btn-blueberry btn-link" role="button">Also on Etsy</a>
              <% } else if (post.ebay_url){ %>
                <a onclick="ga('send', 'event', 'buy', 'click', '<%- post.title %>'); gtag_report_conversion();" href="<%- post.ebay_url %>" target="_blank" class="btn btn-blueberry btn-primary" role="button"><span itemprop="priceCurrency" content="USD">$</span><span itemprop="price" content="<%- post.price %>"><%- post.price %></span> on eBay</a>
              <% } else if (post.etsy_url){ %>
                <a onclick="ga('send', 'event', 'buy', 'click', '<%- post.title %>');  gtag_report_conversion();" href="<%- post.etsy_url %>" target="_blank" class="btn btn-blueberry btn-primary" role="button"><span itemprop="priceCurrency" content="USD">$</span><span itemprop="price" content="<%- post.price %>"><%- post.price %></span> on Etsy</a>
              <% } %>
            </div>
            <dl class="mt-3 mt-lg-5  sticker-properties clearfix">
              <% if (post.material){ %>
                <dt>Material</dt>
                <dd itemprop="material"><%- post.material %></dd>
              <% } %>
              <% if (post.size){ %>
                <dt>Size</dt>
                <dd><%- post.size %></dd>
              <% } %>
              <% if (post.colors){ %>
                <dt>Colors</dt>
                <dd class="text-transparent js--init-swatches"><%- post.colors.join(", ") %></dd>
              <% } %>
            </dl>
            <% if (theme.email){ %>
              <p class="mt-2 mt-lg-3 mb-2"><a href="#contact">Contact us for custom colors, sizes and designs.</a></p>
            <% } %>
        </section>
      </div>
    </div>
    <img class="w-100 mt-2 d-lg-none" alt="aside section shape" src="<%- partial('data-uri/wave-aside') %>" />
  </div>
</div>
