<nav class="navbar fixed-top is-post navbar-blueberry js--init-navbar-fixer js--navbar-blueberry transparent" data-max-fixed-width="992">
  <div class="container">
    <% 
      var href = "/";
      var label = "Browse all stickers";

      post.categories.forEach(function(item){
        if (item.name.includes("Social")){ 
          href = "/custom-social-media-stickers/";
          label = "Other social stickers";
        }
        else if (item.name.includes("Series and Generations")){ 
          href = "/stickers-for-bmw-generations/";
          label = "All BMW generations";
        }
      });

      %>
    <!-- Back button -->
    <a class="back-link icon-sm js--init-back-button" href="<%- href %>">
      <%- partial('ionicons/md-arrow-back.svg') %> <span class="ml-1 js--label"><%- label %></span>
    </a>
    <!-- Grow element -->
    <div class="flex-grow-1 text-right"></div>
    <!-- Buy button -->
    <div class="form-inline d-lg-none navbar-buy-button js--init-navbar-buy-button mr-2">        
      <button type="submit" form="cart-form" class="btn btn-sm btn-blueberry btn-primary js--product-submit" data-base-caption="" data-base-price="<%- parseFloat(product.price) %>">$<%- parseFloat(product.price) %></button>
    </div>
    <!-- Hamburger, cart and collapse elements -->
    <%- partial('partial/navbar-hamburger-cart-collapse') %>
  </div>
</nav>
