<main class="orientation-container">
  <% if(config.cart == "snipcart"){ %>   
    <%- partial('partial/item-sidebar') %>
  <% } else if (config.cart == "paypal") { %>
    <%- partial('partial/item-sidebar-paypal') %>
  <% } else { %>
    <%- partial('partial/item-sidebar-old') %>
  <% } %>
  <div id="post-content" class="spacer-footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <section><%- page.more %></section>
          <%- partial('partial/item-customize') %>
          <%- partial('partial/item-similar') %>
          <%- // partial('partial/item-comments') %>
        </div>
      </div>
    </div>
  </div>
</main>