<nav class="navbar navbar-bluebery navbar-light js--init-navbar-fixer js--navbar-blueberry" data-max-fixed-width="992">
  <div class="container">
    <a class="back-link" href="/">
      <span class="icon-s mr-1"><%- partial('icons/icon-back.svg') %></span> Browse all stickers
    </a>
    <div class="form-inline d-lg-none navbar-buy-button js--init-navbar-buy-button">
      <% if (post.ebay_url){ %>
        <a href="<%- post.ebay_url %>" target="_blank" class="btn btn-blueberry btn-primary btn-sm" role="button">$<%- post.price %> on eBay</a>
      <% } else if (post.etsy_url){ %>
        <a href="<%- post.etsy_url %>" target="_blank" class="btn btn-blueberry btn-primary btn-sm" role="button">$<%- post.price %> on Etsy</a>
      <% } %>
    </div>
  </div>
</nav>
