<%- partial('partial/navbar') %>

<main class="orientation-container component-post">
  <%- partial('partial/item-sidebar') %>
  <div id="post-content" class="spacer-footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <section>
            <% var product = getProductCopy(site.data.product_list, post.product_id); %>
            <div class="post-featured-container">
              <!-- Featured gallery -->
              <% if (product.additional_image_link) { %>
                <% var data = {
                      images: (product.image_link + "," + product.additional_image_link).split(","),
                      alt: product.description,
                      width: 400,
                      height: 400,
                      className: 'js--component-color-carousel-select'
                }; %>
                <%- carousel(data); %>
              <% } else { %>
                <!-- Featured image -->
                <img class="w-100" width="400" height="400" src="<%- get_pathname(product.image_link) %>" title="<%- product.title %>" alt="<%- product.description %>" />
              <% } %>
            </div>
            <%- page.more %>
          </section>
          <%- partial('partial/item-customize') %>
          <%- partial('partial/item-similar') %>
          <%- // partial('partial/item-comments') %>
        </div>
      </div>
    </div>
  </div>
</main>