<div id="post-aside">
  <div class="js--init-sticky-container" data-viewport-threshold="992">
    <% var productIndex = _.findIndex(site.data.product_list, {'id': post.product_id}); %>
    <% if(productIndex >= 0){ %>
      <% var product = site.data.product_list[productIndex]; %>

      <%- partial('partial/item-navbar', {product: product}) %>
      <div class="container spacer-footer">
        <div class="row">
          <section class="col" itemscope itemtype="http://schema.org/Product">
            <!-- Featured image -->
            <% var image = first_image(page); %>
            <% if (image){ %>
              <img itemprop="image" class="featured-image" src="<%- image.src ? image.src : '' %>" title="<%- image.title ? image.title : '' %>" alt="<%- image.alt ? image.alt : '' %>">
            <% } %>
            <h1 class="mb-3 font-size-28 line-height-1" itemprop="name"><%- post.title %></h1>
            <% if (product.description){ %>
              <p class="my-3" itemprop="description"><%- product.description %></p>
            <% } %>
            <% if (has_variations(product)){ %>
              <% var variations = get_variations(product); %>
              <% _.forOwn(variations, function(values, key) { %>
              <div class="form-group">
                <label class="label-blueberry"for="<%- key %>"><%- capitalize(key) %></label>
                <select class="select-blueberry form-control" id="<%- key %>">
                  <% values.forEach(value => { %>
                  <option value="<%- value %>"><%- capitalize(value) %></option>
                  <% });%>
                </select>
              </div>
              <% }); %>
            <% } %>
            <% console.log(product) %>
            <% if (is_custom(product)){ %>
              <div class="form-group">
                <label class="label-blueberry"for="customization"><%- product.customization_name %></label>
                <input id="customization" class="form-control" placeholder="<%- product.customization_placeholder %>" />
              </div>
            <% } %>            
            <% var caption = 'Add to cart · <span itemprop="priceCurrency" content="USD">$</span><span itemprop="price" content="' + parseFloat(product.price) + '">' + parseFloat(product.price) + '</span>'; %>
            <div class="mt-3 js--init-content-buy-button" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <%- partial('partial/snipcart-button', {product: product, caption: caption}) %>
            </div>
            <dl class="mt-4  sticker-properties clearfix">
              <% if (post.material){ %>
                <dt>Material</dt>
                <dd itemprop="material"><%- post.material %></dd>
              <% } %>
              <% if (post.size){ %>
                <dt>Size</dt>
                <dd><%- post.size %></dd>
              <% } %>
              <% if (post.colors){ %>
              <dt>Colors</dt>
              <dd class="text-transparent js--init-swatches"><%- post.colors.join(", ") %></dd>
              <% } %>
            </dl>
            <% if (theme.email){ %>
            <p class="mt-2 mt-lg-3 mb-2"><a href="#contact">Contact us for custom colors, sizes and designs.</a></p>
            <% } %>
          </section>
        </div>
      </div>
      <img class="w-100 mt-2 d-lg-none" alt="aside section shape" src="<%- partial('data-uri/wave-aside') %>" />
    <% } %>
  </div>
</div>