<main class="orientation-container">
  <%- partial('partial/item-sidebar') %>
  <div id="post-content" class="spacer-footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <section><%- page.more %></section>
          <%- partial('partial/item-customize') %>
          <%- partial('partial/item-similar') %>
          <%- // partial('partial/item-comments') %>
        </div>
      </div>
    </div>
  </div>
</main>
