<div class="orientation-container">
  <%- partial('partial/item-aside') %>
  <section id="post-content" class="spacer-footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <%- page.more %>
          <%- partial('partial/item-customize') %>
          <%- partial('partial/item-similar') %>
          <%- partial('partial/item-comments') %>
        </div>
      </div>
    </div>
  </section>
</div>
