<nav class="navbar navbar-blueberry navbar-expand-md navbar-light js--init-navbar-fixer <%- typeof className !== 'undefined' ? className : ''; %>" id="navbar-spy" data-max-fixed-width="10000">
  <div class="container">
    <a class="navbar-brand" href="/">
      <% if (theme.logo){ %>
        <img src="<%- theme.logo %>" class="logo-image" alt="Bimmer Sticker Store logo">
      <% } %>
      <% if (config.title){ %>
        <span class="d-none"><%- config.title %></span>
      <% } %>
    </a>
    <div class="flex-grow-1 text-right">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <span class="icon-md js--icon-open faster">
          <%- partial('ionicons/ios-menu.svg') %>
        </span>
        <span class="icon-md js--icon-close faster" style="display: none">
          <%- partial('ionicons/ios-close.svg') %>
        </span>        
      </button>
    </div>
    <% if(config.cart == "snipcart"){ %>  
      <span class="d-md-none"><%-partial('partial/snipcart-cart-button') %></span>
    <% } %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item d-md-none d-lg-inline">
          <a class="nav-link" href="/">All Stickers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/custom-social-media-stickers/"><span class="d-md-none">Custom </span>Social <span class="d-md-none d-lg-inline">Media</span> Stickers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/custom-windshield-banner-sun-strip/"><span class="d-md-none d-xl-inline">Custom </span>Windshield Banners</a>
        </li>
        <li class="nav-item nav-separator d-md-none">
          <a class="nav-link" href="/#contact">Contact us</a>
        </li>
        <% if (theme.instagram_url){ %>
          <li class="nav-item d-md-none">
            <a class="nav-link" href="<%- theme.instagram_url %>" rel="me">Follow us on Instagram</a>
          </li>
        <% } %>
        <% if (theme.facebook_url){ %>
          <li class="nav-item d-md-none">
            <a class="nav-link" href="<%- theme.facebook_url %>" rel="me">Like us on Facebook</a>
          </li>
        <% } %>
        <% if(config.cart == "snipcart"){ %>
          <li class="nav-item nav-item-for-cart d-none d-md-inline">
              <%-partial('partial/snipcart-cart-button') %>
          </li>  
        <% } %>
      </ul>
    </div>
  </div>
</nav>
