<!-- Menu hamburger -->
<div class="text-right">
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <!-- <span class="navbar-toggler-icon"></span> -->
    <span class="icon-md js--icon-open faster">
      <%- partial('ionicons/ios-menu.svg') %>
    </span>
    <span class="icon-md js--icon-close faster" style="display: none">
      <%- partial('ionicons/ios-close.svg') %>
    </span>        
  </button>
</div>
<!-- Cart button -->
<button class="btn ml-2 px-0 py-0 snipcart-checkout icon-md d-md-none" aria-label="View Cart">
  <%- partial('ionicons/ios-cart.svg') %>
  <span class="snipcart-items-count"></span>
</button>
<!-- Collapse navbar -->
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item d-md-none d-lg-inline">
      <a class="nav-link" href="/">All Stickers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/custom-social-media-stickers/"><span class="d-md-none">Custom </span>Social <span class="d-md-none d-lg-inline">Media</span> Stickers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/custom-windshield-banner-sun-strip/"><span class="d-md-none d-xl-inline">Custom </span>Windshield Banners</a>
    </li>
    <li class="nav-item nav-separator d-md-none">
      <a class="nav-link" href="/#contact">Contact us</a>
    </li>
    <li class="nav-item d-md-none">
      <a class="nav-link" href="<%- theme.googlereview_url %>">
        <span class="icon-xs mr-1"><%- partial('ionicons/ios-star.svg') %></span>Review us on Google
      </a>
    </li>
    <% if (theme.instagram_url){ %>
      <li class="nav-item d-md-none">
        <a class="nav-link" href="<%- theme.instagram_url %>" rel="me">
          Follow us on Instagram
        </a>
      </li>
    <% } %>
    <% if (theme.facebook_url){ %>
      <li class="nav-item d-md-none">
        <a class="nav-link" href="<%- theme.facebook_url %>" rel="me">
          Like us on Facebook
        </a>
      </li>
    <% } %>
    <% if(config.cart == "snipcart"){ %>
      <li class="nav-item nav-item-for-cart d-none d-md-inline">
          <%-partial('partial/snipcart-cart-button') %>
      </li>  
    <% } %>
  </ul>
</div>