<nav class="navbar fixed-top navbar-blueberry navbar-expand-lg navbar-light js--init-navbar-fixer <%- typeof className !== 'undefined' ? className : ''; %>" id="navbar-spy" data-max-fixed-width="10000">
  <div class="container" id="back-link-container">
    <% if (is_post()){ %>
      <!-- Back button -->
      <a id="ejs-back-link" class="back-link icon-sm no-wrap" onclick="window.history.back();" href="#">
        <%- partial('ionicons/arrow-back.svg') %> <span class="ml-1">Go back</span>
      </a>
    <% } else { %>
      <a class="navbar-brand" href="/">
        <% if (theme.logo){ %>
          <img src="<%- theme.logo %>" class="logo-image w-auto" width="1086" height="257" alt="Sticker Store LLC (Bimmer Sticker Store) logo">
        <% } else { %>
          <%- config.title %>
        <% } %>
      </a>
    <% } %>
    <!-- Grow element -->
    <div class="flex-grow-1 text-right"></div>
    <!-- Buy button -->
    <% if (is_post()){ %>
      <% var product = getProductCopy(site.data.product_list, post.product_id); %>
      <div class="form-inline d-lg-none navbar-buy-button js--init-navbar-buy-button">
        <button type="submit" form="cart-form" class="btn btn-sm btn-blueberry btn-primary js--product-submit" data-base-caption="" data-base-price="<%- parseFloat(product.price) %>">$<%- parseFloat(product.price) %></button>
      </div>
    <% } %>
    <!-- Grow element -->
    <div class="flex-grow-1 text-right"></div>
    <!-- Menu hamburger -->
    <div class="text-right">
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <span class="icon-md js--icon-open faster">
          <%- partial('ionicons/menu.svg') %>
        </span>
        <span class="icon-md js--icon-close faster" style="display: none">
          <%- partial('ionicons/close.svg') %>
        </span>
      </button>
    </div>
    <!-- Cart button -->
    <button class="btn ml-2 px-0 py-0 snipcart-checkout icon-md d-lg-none" aria-label="View Cart">
      <%- partial('ionicons/cart.svg') %>
      <span class="snipcart-items-count"></span>
    </button>
    <!-- Collapse navbar -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item d-lg-none">
          <a class="nav-link" href="/">
            <span class="icon-xs mr-2 icon-for-nav d-lg-none"><%- partial('ionicons/home.svg') %></span>All Stickers
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/custom-social-media-stickers/">
            <span class="icon-xs mr-2 icon-for-nav d-lg-none"><%- partial('ionicons/logo-instagram.svg') %></span><span class="d-lg-none">Custom </span>Social <span class="d-lg-none d-lg-inline">Media</span> Stickers
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/custom-windshield-banner-sun-strip/">
            <span class="icon-xs mr-2 icon-for-nav d-lg-none"><%- partial('ionicons/car.svg') %></span><span class="d-lg-none d-xl-inline">Custom </span>Windshield Banners
          </a>
        </li>
        <li class="nav-item nav-separator d-lg-none">
          <a class="nav-link" href="/how-to-apply-windsheild-banner-on-a-car/">How to Apply Windshield Banner?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/custom-truck-van-decals/">
            <span class="icon-xs mr-2 icon-for-nav d-lg-none"><%- partial('svg/icon-mini-van.svg') %></span>Truck & Van <span class="d-lg-none">Business</span> Decals
          </a>
        </li>
        <li class="nav-item nav-separator d-lg-none">
          <a class="nav-link" href="/buy-keyring-keychain-with-your-car-vin-number/">
            <span class="icon-xs mr-2 icon-for-nav d-lg-none"><%- partial('ionicons/key.svg') %></span><span class="d-lg-none">Custom Car</span> Key Chains
          </a>
        </li>
        <li class="nav-item d-lg-none">
          <a class="nav-link" href="/#contact">
            Contact us
          </a>
        </li>
<!--
        <li class="nav-item d-lg-none">
          <a class="nav-link" href="<%- theme.googlereview_url %>">
            <span class="icon-xs mr-1"><%- partial('ionicons/star.svg') %></span>Review us on Google
          </a>
        </li>
-->
        <% if (theme.etsy_url){ %>
          <li class="nav-item d-lg-none">
            <a class="nav-link" href="<%- theme.etsy_url %>" rel="me">
              <span class="icon-xs mr-2 icon-for-nav d-lg-none"><%- partial('ionicons/storefront.svg') %></span>Visit our Etsy Store
            </a>
          </li>
        <% } %>
        <% if (theme.instagram_url){ %>
          <li class="nav-item d-lg-none">
            <a class="nav-link" href="<%- theme.instagram_url %>" rel="me">
              Follow us on Instagram
            </a>
          </li>
        <% } %>
        <% if (theme.facebook_url){ %>
          <li class="nav-item d-lg-none">
            <a class="nav-link" href="<%- theme.facebook_url %>" rel="me">
              Like us on Facebook
            </a>
          </li>
        <% } %>
        <% if(config.cart == "snipcart"){ %>
          <li class="nav-item nav-item-for-cart d-none d-lg-inline">
              <%-partial('partial/snipcart-cart-button') %>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
