<aside id="post-aside">
  <div class="js--init-sticky-container" data-viewport-threshold="992">
    <%- partial('partial/navbar-post') %>
    <div class="container">
      <div class="row">
        <div class="col">
            <!-- Featured image -->
            <% var image = first_image(page); %>
            <% if (image){ %>
              <img class="featured-image" src="<%- image.src ? image.src : '' %>" title="<%- image.title ? image.title : '' %>" alt="<%- image.alt ? image.alt : '' %>">
            <% } %>
            <h1 class="mb-1 font-size-28"><%- page.title %></h1>
            <% if (page.excerpt){ %>
              <p class="text-muted"><%- strip_html(page.excerpt) %></p>
            <% } %>
            <div class="mt-3 js--init-content-buy-button">
              <% if (page.ebay_url && page.etsy_url){ %>
                <a href="<%- page.ebay_url %>" target="_blank" class="btn btn-blueberry btn-primary" role="button">$<%- page.price %> on eBay</a>
                <a href="<%- page.etsy_url %>" target="_blank" class="btn btn-blueberry btn-link" role="button">Also on Etsy</a>
              <% } else if (page.ebay_url){ %>
                <a href="<%- page.ebay_url %>" target="_blank" class="btn btn-blueberry btn-primary" role="button">$<%- page.price %> on eBay</a>
              <% } %>
            </div>
            <dl class="mt-3 mt-lg-5  sticker-properties clearfix">
              <% if (page.material){ %>
                <dt>Material</dt>
                <dd><%- page.material %></dd>
              <% } %>
              <% if (page.size){ %>
                <dt>Size</dt>
                <dd><%- page.size %></dd>
              <% } %>
              <% if (page.colors){ %>
                <dt>Colors in stock</dt>
                <dd class="text-transparent js--init-swatches"><%- page.colors.join(", ") %></dd>
              <% } %>
            </dl>
            <% if (theme.email){ %>
              <p class="mt-2 mt-lg-3 mb-2"><a href="/#contact">Contact us for custom colors, sizes and designs.</a></p>
            <% } %>
        </div>
      </div>
    </div>
    <img class="w-100 mt-2 d-lg-none" src="<%- partial('data-uri/wave-aside') %>" />
  </div>
</aside>
