<button class="btn js--snipcart-add-item snipcart-add-item invisible"
  data-item-id="<%- product.id %>"
  data-item-price="<%- parseFloat(product.price) %>"
  data-item-url="<%- my_full_url_for(post.path) %>"
  data-item-description="<%- product.description %>"
  data-item-image="<%- get_pathname(product.image_link) %>"
  data-item-name="<%- product.title %>"

  <% var i=1; %>
  <% _.forOwn(product, function(value, key) { %>
    <% if (value.includes('|')){ %>
        data-item-custom<%- i %>-name="<%- capitalize(key) %>" 
        data-item-custom<%- i++ %>-options="<%- value %>" 
    <% } %>
  <% }); %>

  <% if (_.keys(product).includes('customization_name')){ %>
    data-item-custom<%- i %>-name="<%- product.customization_name %>"
  <% } %>
>Add to cart</button>