<button class="btn js--snipcart-add-item snipcart-add-item invisible"
  data-item-id="<%- product.id %>"
  data-item-price="<%- parseFloat(product.price) %>"
  data-item-url="<%- my_full_url_for(post.path) %>"
  data-item-description="<%- product.description %>"
  data-item-image="<%- get_pathname(product.image_link) %>"
  data-item-name="<%- product.title %>"
  data-item-weight="<%- oz_to_g(product.shipping_weight) %>"

  <% var i=1; %>
  <% if (has_variations(product)){ %>
    <% var variations = get_variations(product); %>
    <% _.forOwn(variations, function(values, key) { %>
      <% var options = []; %>
      <% values.forEach(value => { %>
        <% var variation = parse_variation_value(value); %>
        <% var variationSnipcartString = variation.extra != 0 ? variation.value + "[+" + variation.extra + "]" : variation.value; %>
        <% options.push(variationSnipcartString); %>
      <% });%>
      data-item-custom<%- i %>-name="<%- capitalize(key) %>"
      data-item-custom<%- i++ %>-options="<%- options.join("|") %>"
    <% }); %>
  <% } %>
  <% if (is_custom(product)){ %>
    <% var customFields = get_custom_fields(product); %>
    <% for (obj of customFields) { %>
      data-item-custom<%- i++ %>-name="<%- obj['name'].toLowerCase() %>"
    <% } %>
  <% } %>
>Add to cart</button>